body {
  background-color: rgb(148, 148, 148);
}

.standard_button {
  border: none;
  border-radius: 28px;
  font-family: 'sans-serif';
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 200px;
}

.del_button {
  border: none;
  background-color: rgb(148, 148, 148);
  font-style: bold;
  color: red;
}

.standard_input {
  border: none;
  border-radius: 10px;
  font-family: 'sans-serif';
  margin: 5px;
  padding: 10px;
  width: 200px;
}
